@font-face {
  font-family: Charlevoix;
  src: url('CharlevoixPro-FullFamily-Free/CharlevoixPro-Regular.otf');
}

@font-face {
  font-family: Charlevoix Thin;
  src: url('CharlevoixPro-FullFamily-Free/CharlevoixPro-Thin.otf');
}

@font-face {
  font-family: Charlevoix Light;
  src: url('CharlevoixPro-FullFamily-Free/CharlevoixPro-Light.otf');
}

@font-face {
  font-family: Raleway;
  src: url('raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: Raleway Thin;
  src: url('raleway/Raleway-Thin.ttf');
}

@font-face {
  font-family: Raleway Bold;
  src: url('raleway/Raleway-Bold.ttf');
}

html, body {
  margin: 0;
  font-family: Raleway;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

h4 {
  line-height: 1.5em;
}

.header {
  font-weight: 100;
  padding: 20px 85px;
  font-size: 1.75em;
  position: absolute;
  width: 100%;
}

.indicators-wrap {
  position: absolute;
  list-style: none;
  top: calc(50% - 39px);
  -webkit-padding-start: 80px;
}

.indicators-wrap li {
  width: 80px;
  height: 15px;
  border-bottom: 1px solid #9896A4;
}

.indicators-wrap li.current {
  width: 85px;
  border-color: #F7786B;
  transition: width 300ms;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-left: 240px;
}

.mavrck {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url('../images/texture.png');
  background-size: cover;
  color: #4c4c4c;
  /* 
  background-image: -ms-linear-gradient(bottom right, #FFB300 0%, #F7FF00 100%);
  background-image: -moz-linear-gradient(bottom right, #FFB300 0%, #F7FF00 100%);
  background-image: -o-linear-gradient(bottom right, #FFB300 0%, #F7FF00 100%);
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFB300), color-stop(100, #F7FF00));
  background-image: -webkit-linear-gradient(bottom right, #FFB300 0%, #F7FF00 100%);
  background-image: linear-gradient(to bottom right, #ff8d00 0%, rgba(255, 141, 0, 0.66) 100%)*/
}

.mavrck-overlay {
  background-color: rgba(255,255,255,0.48);
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.flex-item-1 {
  flex: 1;
  z-index: 1;
  margin: 0 50px;
  padding: 0 50px;
}

.mavrck h1.huge {
  font-family: Raleway Bold;
  font-size: 82px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.right-content, .left-content {
  flex: 1;
  padding: 10px;
}

.right-content h1, .right-content h4 {
  width: 50%;
}

.divider {
  width: 80px;
  margin: 50px 0px;
  border-bottom: 2px solid #9896A4;
}

.slider {
  width: 500px;
  height: 321px;
}

/*.slide--current-entering .entering {
  transform: translate(0,0);
}*/
.slide--current .entering {
  transform: translate(0,0);
}
.entering {
  transition: transform 1.4s ease;
  transform: translate(0,200%);
}

.social {
  font-size: 26px;
  margin: 20px 20px 20px 0px;
}

.label-inline {
  margin: 20px 20px 20px 0px;
  color: #9896a4;
}

a {
  cursor: pointer;
  color: #9896a4;
  text-decoration: none;
}

a:hover, a:focus {
  color: #F7786B;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button.slick-arrow {
    display: inline-block !important; 
    width: 50px;
    height: 50px;
    background: #fff;
    display: inline;
    margin: 0;
    border: none;
    font-size: 17px;
}