.slide--current-entering .entering,
.slide--current-entering .entering-short,
.slide--current-entering .growing {
  transform: translate(0,0);
}
.slide--current .entered,
.slide--current .entering,
.slide--current .entering-short,
.slide--current .growing {
  transform: translate(0,0);
}

.entering, .entered {
  transition: transform 0.8s cubic-bezier(.4,0,.2,1);
  transform: translate(0, 120%);
}

.entering-short {
  transition: transform 0.8s cubic-bezier(.4,0,.2,1);
  transform: translate(0, 100%);
}

.entering.delayed {
  transition-delay: 0.2s;
}

.growing {
  transition: transform 0.8s cubic-bezier(.4,0,.2,1);
  transform: translate(100%, 0);
}

