form {
	text-align: center;
}   

input {
	border-top: none;
	border-left: none;
	border-right: none;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
}
a {
	text-decoration: none;
}
textarea {
	width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}
input:focus, input:active, textarea:focus, textarea:active {
	outline: none;
}
.feed-title {
	text-align: center;
}

.poster {
	color: #fff;
}

.event-info {
	font-size: 14px;
}

.desc {
	/*font-style: italic;*/
	font-weight: 100;
	word-spacing: -1px;
	letter-spacing: 1.01px;
}

.title {
	font-size: 25px;
	font-weight: 200;
}

/* Dropdowns */
li.message-preview>a {
	padding: 0px !important;
}

li.message-preview {
	width: auto;
}


/* New Custom Panel Colors */
.panel-post {
    border-color: #30586d;
}

.panel-post > .panel-heading {
    border-color: #30586d;
    color: #fff;
    background-color: #30586d;
}

.panel-event {
    border-color: #50a2a9;
}

.panel-event > .panel-heading {
    border-color: #50a2a9;
    color: #fff;
    background-color: #50a2a9;
}

/*#50a2a9*/


 .userLoc {
    position: absolute;
    top: 70%;
    left: 50%;
 }

 .map {
    position: relative;
    padding-bottom: 50px;
 }

 .caret {
    position: relative;
    top: 50%;
    vertical-align: top;
    margin-top: 10px;
 }

  .fa-envelope{ 
    margin-top: -2px !important;
}

 .park1 {
    position: absolute;
    left: 33%;
    top: 55%;

 }

 .park2 {
    position: absolute;
    left: 81%;
    top: 38%;

 }
 .park3 {
    position: absolute;
    left: 0%;
    top: 0%;

 }

.mapImg {
    border-radius: 10px 10px 10px 10px;
}

.legend1 { 
   	left:8%;
  	text-align: center;
	position: absolute;
	margin-top: 10px;

 }

 .user1 {
    position: absolute;
    left: 10%;
    top: 43%;

 }



 .user2 {
    position: absolute;
    left: 60%;
    top: 40%;

 }

 .user3 {
    position: absolute;
    left: 45%;
    top: 45%;

 }

 .user4 {
    position: absolute;
    left: 40%;
    top: 7%;

 }

 .user5 {
    position: absolute;
    left: 85%;
    top: 53%;

 }

 .user6 {
    position: absolute;
    left: 68%;
    top: 54%;

 }

 .user7 {
    position: absolute;
    left: 65%;
    top: 55%;

 }
