<div class="container-fluid">
	<nav class="navbar navbar-default">
	    <h1 class="pull-left">Yulia Zileeva</h1>
	</nav>
	<div class="content">

		<div class="row">
			<div class="col-md-4">

				<div class="btn-main" ng-click="addOpacity('content-g')"  >
					<h4>DDA</h4>
				</div>
				<div class="btn-main" ng-click="addOpacity('content-y')" >
					<h4>MAVRCK</h4>
				</div>
				<div class="btn-main" ng-click="addOpacity('content-b')" >
					<h4>#</h4>
				</div>
				<div class="btn-main" id="me" style="margin-top: 30px;" ng-click="addOpacity('content-me', 'desc-me')" ng-click="toggle('content-me', 'desc-me')">
					<h5>me</h5>
				</div>

			</div>
			<div class="col-md-3"></div>
			<div class="col-md-5 mobile-view">
				<div class="content-g square-box">
					<div class="square-content">
						<span>
							<h2>Dog Dating App - current</h2>
							<h5>October - November 2015</h5>
						</span>
					</div>
					<div class="square-content-bottom square-content">
						<span>	
							<h4>Match your dog and connect with dogs owners community</h4>
							<h4>Research, prototyping, design, development</h4>
							<h4>AngularJS, Angular Mobile UI Framework</h4>
							<h5>Currently in development, demo will be available soon</h5>
						</span>
					</div>
				</div>
				<div class="content-y square-box">
					<div class="square-content">
						<span>
							<h2>MAVRCK</h2>
							<h5>January 2015 - Present</h5>
						</span>
					</div>

					<div class="square-content-bottom square-content">
						<span>	
							<h4>Front End Developer</h4>
							<h4>Design and development</h4>
							<h4>AngularJS &amp; Node.js</h4>
							<h4>Unit tests with Karma</h4>
						</span>
					</div>
				</div>
				<div class="content-b square-box">
					<div class="square-content">
						<span>
							<h2>How Hot Is Your Hashtag?</h2>
							<h5>August 2015</h5>
						</span>
					</div>

					<div class="square-content-bottom square-content">
						<span>	
							<h4>The most popular hashtags in the area</h4>
							<h4>Developer</h4>
							<h4>Node.js &amp; Instagram Public API</h4>
							<a href="/#/instagram-hashtag" style="color: #fff; text-decoration: underline;"><h5>DEMO</h5></a>
						</span>
					</div>
				</div>
				<div id="desc-me">
					<span>
						<h3>Student at Northeastern University</h3>
						<h3>Front End Developer</h3>
						<h4>from Russia</h4>
						<h4>live in Boston, MA</h4>
						<h3>zileeva.y@husky.neu.edu</h3>
						<a href="https://github.com/zileeva" target="_blank"><i class="fa fa-github fa-3x"></i></a>
						<a href="https://instagram.com/zileeva/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
					</span>
				</div>

			</div>
		</div>
	</div>
</div>