<div class="container-fluid">
	<nav class="navbar navbar-default">
	    <h1 class="pull-left">Yulia Zileeva</h1>
	</nav>

	<!-- <div class="container">
		<h3>Student at Northeastern University</h3></br> 
		<h3>Front End Developer located in Boston, MA</h3>

		<a href="https://github.com/zileeva"><i class="fa fa-github fa-3x"></i></a>
		<a href="http://www.ccs.neu.edu/home/zileevay/index.html"><img src="public/assets/images/NU.png" style="width: 35px; margin-left: 20px;
	margin-right: 20px;"></a>
		<a href="https://instagram.com/zileeva/"><i class="fa fa-instagram fa-3x"></i></a>

	</div> -->


	<div class="content">

		<div class="row">
			<div class="col-md-4">

				<div class="btn-main" ng-click="addOpacity('content-g')"  >
					<h4>DDA</h4>
				</div>
				<div class="btn-main" ng-click="addOpacity('content-y')" >
					<h4>MAVRCK</h4>
				</div>
				<div class="btn-main" ng-click="addOpacity('content-b')" >
					<h4>#</h4>
				</div>
				<div class="btn-main" id="me" style="margin-top: 30px;" ng-click="addOpacity('content-me', 'desc-me')" ng-click="toggle('content-me', 'desc-me')">
					<h5>me</h5>
				</div>

			</div>
			<div class="col-md-3"></div>
			<div class="col-md-5 mobile-view">
				<div class="content-g square-box">
					<div class="square-content">
						<span>
							<h2>Dog Dating App - current</h2>
							<h5>October - November 2015</h5>
						</span>
					</div>
					<div class="square-content-bottom square-content">
						<span>	
							<h4>Match your dog and connect with dogs owners community</h4>
							<h4>Research, prototyping, design, development</h4>
							<h4>AngularJS, Angular Mobile UI Framework</h4>
							<h5>Currently in development, demo will be available soon</h5>
						</span>
					</div>
				</div>
				<!-- <div id="desc-g">
					<span>
						<h3>Dog Dating App</h3>
						<h5>October - November 2015</h5>		
						<h4>Match your dog and connect with dog community</h4>
						<h4>Research, prototyping, design, development</h4>
						<h4>AngularJS, Angular Mobile UI</h4>
						<h5>Currently in development, demo will be available soon</h5>
					</span>
				</div> -->
				<div class="content-y square-box">
					<div class="square-content">
						<span>
							<h2>MAVRCK</h2>
							<h5>January 2015 - Present</h5>
						</span>
					</div>

					<div class="square-content-bottom square-content">
						<span>	
							<h4>Front End Developer</h4>
							<h4>Design and development</h4>
							<h4>AngularJS &amp; Node.js</h4>
							<h4>Unit tests with Karma</h4>
						</span>
					</div>
				</div>
				<!-- <img src="public/assets/images/mavrck.png" id="content-y">
				<div id="desc-y">
					<span>
						<h5>January 2015 - Present</h5>
						<h5>Design and development</h5>
						<h5>AngularJS &amp; Node.js</h5>
						<h5>Unit tests with Karma</h5>
					</span>
				</div> -->
				<div class="content-b square-box">
					<div class="square-content">
						<span>
							<h2>How Hot Is Your Hashtag?</h2>
							<h5>August 2015</h5>
						</span>
					</div>

					<div class="square-content-bottom square-content">
						<span>	
							<h4>The most popular hashtags in the area</h4>
							<h4>Developer</h4>
							<h4>Node.js &amp; Instagram Public API</h4>
							<a href="/#/instagram-hashtag" style="color: #fff; text-decoration: underline;"><h5>DEMO</h5></a>
						</span>
					</div>
				</div>
				<!-- <img src="public/assets/images/instagram.png" id="content-b">
				<div id="desc-b">
					<span>
						<h5>August 2015</h5>
						<h5>The most popular hashtags in the area</h5>
						<h5>Node.js &amp; Instagram Public API</h5>
						<h5>Demo will be available soon</h5>
					</span>
				</div> -->
				<div id="desc-me">
					<span>
								<h3>Student at Northeastern University</h3>
								<h3>Front End Developer</h3>
								<h4>from Russia</h4>
								<h4>live in Boston, MA</h4>
								<h3>zileeva.y@husky.neu.edu</h3>
								<a href="https://github.com/zileeva" target="_blank"><i class="fa fa-github fa-3x"></i></a>
								<a href="https://instagram.com/zileeva/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
					</span>
				</div>
				<!-- <div class="square-box fadeIn" id="content-g"></div> -->

			</div>
		</div>
	</div>


<!-- 
	<div class="content">
		<div class="row">
			<div class="col-md-4 square-box content-g fadeIn">
				<div class="overlay"></div>
				<div class="square-content">
					<span>
						<h2>DDA - current</h2></br>
						<h4>designer and developer</h4>
					</span>
				</div>
				<div class="square-content-bottom square-content">
					<span>
						<h5>October - November 2015</h5>
						<h5>Dog Dating App</h5>
						<h5>Research and prototyping</h5>
						<h5>Currently in development, demo will be available soon</h5>
					</span>
				</div>
			</div>
			<div class="col-md-4 square-box content-y fadeIn">
				<div class="overlay"></div>
				<div class="square-content">
					<span>
						<h2>MAVRCK</h2></br>
						<h4>front end developer</h4>
					</span>
				</div>
				<div class="square-content-bottom square-content">
					<span>
						<h5>January 2015 - Present</h5>
						<h5>Design and development</h5>
						<h5>AngularJS &amp; Node.js</h5>
						<h5>Unit tests with Karma</h5>
					</span>
				</div>
				
			</div>
			<div class="col-md-4 square-box content-b fadeIn">
				<div class="overlay"></div>
				<div class="square-content">
					<span>
						<h2>How hot is your #?</h2></br>
						<h4>developer</h4>
					</span>
				</div>
				<div class="square-content-bottom square-content">
					<span>
						<h5>August 2015</h5>
						<h5>The most popular hashtags in the area</h5>
						<h5>Node.js &amp; Instagram Public API</h5>
						<h5>Demo will be available soon</h5>
					</span>
				</div>
			</div>
		</div>
	</div> -->

	<!-- <div class="content">
		<h4>Student at Northeastern University</h4>
		<h4>Front End Developer</h4>
		<h3>Email me at zileeva.y@husky.neu.edu if you </h3>
		<a href="https://github.com/zileeva" target="_blank"><i class="fa fa-github fa-3x"></i></a> -->
<!-- 		<a href="http://www.ccs.neu.edu/home/zileevay/index.html"><img src="public/assets/images/NU.png" style="width: 35px; margin-left: 20px;
	margin-right: 20px;"></a> -->
		<!-- <a href="https://instagram.com/zileeva/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>

	</div> -->
	
	<!-- <div id="cf6_image" class="shadow"></div>

	<div style="background-color: rgb(163, 158, 151); width: 100px; height: 100px;"></div>
	<div style="background-color: rgb(71, 72, 73); width: 100px; height: 100px;"></div>
	<div style="background-color: rgb(212, 213, 205); width: 100px; height: 100px;"></div>
	<div style="background-color: rgb(85,89,93); width: 100px; height: 100px;"></div> -->


</div>