

body {
	margin: 0;
	font-family: 'brownlight', sans-serif;
    color: #000;
    /*'Relative Book', 'Century Gothic', Verdana, sans-serif;*/
     /*"Lantinghei TC";*/
     /*'Open Sans', sans-serif;*/
}

.container-fluid {
	width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.navbar {
    border-radius: 0px !important;
    border: none !important;
    /*border-bottom: 1px solid rgb(163, 158, 151) !important; rgb(85,89,93)*/
    background-color: #fff !important
}

h1 {
    font-size: 48px !important;
    font-weight: 300;
}

h2, h3, h4, h5 {
	font-weight: 100 !important;
}

a {
	color: rgb(85,89,93);
}

a:hover, a:focus {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
    position: absolute;
}

.input {
    height: 50px;
    width: 300px;
}
.col-md-4 {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;

}

.content i {
	margin-right: 20px;
}

.square-box{
    position: relative;
}

.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;
    width: 100%;
    height: 100%;
    padding: 11px;
}

.square-content span {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.content {
    margin-top: 70px;
}

.content-b, .content-g, .content-y {
    -webkit-animation: background-color 0.3s ease-in;
    -moz-animation: background-color 0.3s ease-in;
    -ms-animation: background-color 0.3s ease-in;
    -o-animation: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

/*.content-b:hover, .content-g:hover, .content-y:hover {
    background-color: transparent;
    background-size: cover;*/
/*    -webkit-animation: fadeIn 0.5s ease-in both;
    -moz-animation: fadeIn 0.5s ease-in both;
    -ms-animation: fadeIn 0.5s ease-in both;
    -o-animation: fadeIn 0.5s ease-in both;
    animation: fadeIn 0.5s ease-in both;*/


#content-g, #content-y, #content-b, #content-me, #desc-g, #desc-y, #desc-b, #desc-me {
    opacity: 0;
    width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all .3s;
    position: absolute;
        /*#96CEB7*/
}

#desc-g  h3, #desc-g h4, #desc-g h5, {
    margin: 0;
}

.square-content-bottom {
    top: auto !important;
}

/*.content-g:hover .square-content-bottom, .content-b:hover .square-content-bottom, .content-y:hover .square-content-bottom {
    opacity: 1 !important;
    visibility: visible !important;
}*/

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    height: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all .3s;
    background-color: rgba(0,0,0,0.15);
    height: 300px;
}
/*.content-g:hover .overlay, .content-b:hover .overlay, .content-y:hover .overlay {
    background-color: rgba(255, 255, 255, 0.45);    
}*/

.fadeIn {
    -webkit-animation: fadeIn 0.5s ease-in both;
    -moz-animation: fadeIn 0.5s ease-in both;
    -ms-animation: fadeIn 0.5s ease-in both;
    -o-animation: fadeIn 0.5s ease-in both;
    animation: fadeIn 0.5s ease-in both;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

@-moz-keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}
@-ms-keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}
@-o-keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}
@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
} 

.btn-main {
    float: left;
    margin-right: 0;
    position: relative;
    text-transform: uppercase;   
    width: 100%;
    background-color: #CDCDCD;
    height: 50px;
    margin: 2px;
    color: #fff;
    padding: 0 30px;
    -webkit-transition: background-color .4s cubic-bezier(0.19,1,.22,1);
    transition: background-color .4s cubic-bezier(0.19,1,.22,1);
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.btn-main:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.btn-main:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #262626;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .6s cubic-bezier(0.19,1,.22,1);
    transition: transform .6s cubic-bezier(0.19,1,.22,1);
}

.btn-main h4, .btn-main h5{
    line-height: 50px;
    margin: 0px !important;
    z-index: 2;
    padding: 0 30px;
    display: block;
    letter-spacing: 3px;
    position: relative;
    -webkit-transition: -webkit-transform .6s cubic-bezier(0.19,1,.22,1);
    transition: transform .6s cubic-bezier(0.19,1,.22,1);
}

.btn-main:hover h4, .btn-main:hover h5 {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.content-g, .content-y, .content-b {
    width: 100%;
    z-index: 2;
    position: absolute;
    right: -1000px;
    background: #000;
    color: #fff;
    float: right;
}

.visible {
    display: block !important;
}

/*
.box {
    width: 300px;
    height: 400px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}*/

.box-change {
    width: 400px;
    height: 400px;
}

@media (max-width: 991px) {

    .mobile-view {
        top: 300px;    
    }

    .mobile-view img {
        width: 60% !important;
        left: 20%;
    }
}
/*.y-image {
    position: absolute;
    opacity: 0;
    background-image: url('../images/mavrck.png');  
    top: 0;
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.btn-main:hover .y-image {
    opacity: 1;
}*/

/* INSTAGRAM HASHTAG */
.ig-container {
    font-family: Oxygen;
    margin-top: 50px;
}

.ig-container input{
    border: none;
    border-bottom: 1px solid #949494;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 200;
    width: 450px;
    height: 80px;
    text-align: center;
}

::-webkit-input-placeholder {
   color: #D6D6D6;
   font-weight: 200;
}

:-moz-placeholder { /* Firefox 18- */
   color: #D6D6D6;  
   font-weight: 200;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #D6D6D6;  
   font-weight: 200;
}

:-ms-input-placeholder {  
   color: #D6D6D6;  
   font-weight: 200;
}


.ig-container input:focus{
    outline: none;
}
.word-cloud {
    margin: 30px;
}
.word5 {
    font-size: 36px;
}
.word5:hover {
    font-size: 38px;
    transition: all 0.2s ease;
}
.word4 {
    font-size: 28px;
    color : #949494;
}
.word4:hover {
    font-size: 30px;
    transition: all 0.2s ease;
}
.word3 {
    font-size: 26px;
    color : #949494;
}
.word3:hover {
    font-size: 28px;
    transition: all 0.2s ease;
}
.word2 {
    font-size: 24px;
    color : #949494;
}
.word2:hover {
    font-size: 26px;
    transition: all 0.2s ease;
}
.word1 {
    font-size: 22px;
    color : #949494;
}
.word1:hover {
    font-size: 24px;
    transition: all 0.2s ease;
}

.photo {
    width: 200px !important; 
    height: 200px !important; 
    position: relative; 
    background-size: cover;
}

